.leftContainer, .middleContainer, .rightContainer {
    display: inline-block;
    float: left;
}

.leftContainer{
    width: 30%;
}

.rightContainer {
    width: 30%;
}

.middleContainer {
    width: 40%;
}

.inputTable {
    margin: 30px 0 0 115px;
}

.inputTable p {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 15px;
    padding: 28px 20px 0 0;
    text-align: right;
}

.loginInput input,
.passInput input {
    width:250px;
    height: 34px;
    background-color: #E6E6E6;
    border:1px solid black;
    border-radius: 3px;
    text-decoration:none;
    font-size: 16px;
    margin-top: 20px;
    padding-left: 10px;
    
}

.button {
    border-radius: 3px;
    border:1px solid black;
    text-decoration:none;
    background-color: #E6E6E6;
    padding: 7px;
    margin-top: 20px;
    min-width: 80px;
}

.button:hover {
    border:1px solid #6A5ACD;
}

.errMessage {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 15px;
    text-align: center;
    margin-top: 30px;
}
