.leftContainer, .middleContainer, .rightContainer {
    display: inline-block;
    float: left;
    height: 600px;
}

.leftContainer{
    width: 30%;
}

.rightContainer {
    width: 20%;
}

.middleContainer {
    width: 50%;
}

.noOrders {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    margin: 30px 0 0 30px;
    font-size: 30px;
    color: #545A83;
}

.orderTable {
    margin-top: 28px;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 15px;
}

.orderTable th {
    font-weight: bold;
    color: black;
    padding: 10px 15px;
}

.orderTable td {
    color: #323A67;
    border-top: 1px solid #323A67;
    padding: 10px 15px;
}

.orderTable tr:nth-child(2n) {
    background: #CDCDD6;
}

.date, .price{
    width: 110px;
    text-align: center;
}

.status {
    text-align: center;
}
