<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>SummaryTask4</display-name>
  
  <display-name>SummaryTask4</display-name>
  
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  
  <!-- Controller -->
  <servlet>
		<servlet-name>Controller</servlet-name>
		<servlet-class>techshop.web.controller.Controller</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Controller</servlet-name>
		<url-pattern>/controller</url-pattern>
	</servlet-mapping>
	
	<!-- Custom tag -->
	<jsp-config>
		<taglib>
			<taglib-uri>/WEB-INF/orderCustomTag</taglib-uri>
			<taglib-location>/WEB-INF/orderCustomTag.tld</taglib-location>
		</taglib>
	</jsp-config>
	
	<!-- Context listener -->
	<listener>
		<listener-class>techshop.web.listener.ContextListener</listener-class>
	</listener>
	
	<!-- Encoding support filter -->
	<filter>
		<filter-name>EncodingFilter</filter-name>
		<filter-class>techshop.web.filters.EncodingFilter</filter-class>
		<init-param>
			<param-name>encoding</param-name>
			<param-value>UTF-8</param-value>
		</init-param>
	</filter>
	
	<filter-mapping>
		<filter-name>EncodingFilter</filter-name>
		<url-pattern>/*</url-pattern>
		<servlet-name>Controller</servlet-name>
	</filter-mapping>
	
	<!--Security filter-->
	<filter>
		<filter-name>AccessFilter</filter-name>
		<filter-class>techshop.web.filters.AccessFilter</filter-class>
		<init-param>
			<param-name>admin</param-name>
			<param-value>admin_menu all_clients all_orders all_goods
			goods_setting edit_goods</param-value>
		</init-param>
		<init-param>
			<param-name>client</param-name>
			<param-value>person_account reg_order</param-value>
		</init-param>
		<init-param>
			<param-name>common</param-name>
			<param-value>logout</param-value>
		</init-param>
		<init-param>
			<param-name>out-of-control</param-name>
			<param-value>shop registration login catalog cart add_to_cart 
			sort_catalog selection_catalog price_catalog language</param-value>
		</init-param>
	</filter>
	
	<filter-mapping>
		<filter-name>AccessFilter</filter-name>
		<servlet-name>Controller</servlet-name>
	</filter-mapping>
	
	<!-- Error page -->
	<error-page>
		<exception-type>java.lang.Throwable</exception-type>
		<location>/jsp/errorPage.jsp</location>
	</error-page>
	<error-page>
		<error-code>404</error-code>
		<location>/jsp/errorPage.jsp</location>
	</error-page>

</web-app>